.main{
    display: flex;
}
.box1{
    background-color: rgb(4, 60, 60);
    height: 950px;
    width: 400px;
    margin: 0px;
    
}

.box2{
    background-color: rgb(21, 21, 91);
    height: 950px;
    width: 400px;
    margin: 0px;
    border-radius: 10px;
}

.box3{
    background-color: rgb(88, 16, 16);
    height: 950px;
    width: 400px;
    margin: 0px;
    border-radius: 10px;
}

.box4{
    background-color: rgb(70, 5, 53);
    height: 950px;
    width: 400px;
    margin: 0px; 
    border-radius: 10px; 
}